.ability-content{
    .table{
        border-top: solid 1px #bbb;
        border-bottom: solid 1px #bbb;
    }
}

.self-diagnose{
    .table{
        border-top: solid 1px #bbb;
        border-bottom: solid 1px #bbb;
        .progress{
            margin-bottom: 0px;
        }
    }
}
