@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/testonline_fe\/app\/styles\/main\.scss}line{font-family:\000034}}
body {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/testonline_fe\/app\/styles\/main\.scss}line{font-family:\000039}}
.navbar {
  border-radius: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/testonline_fe\/app\/styles\/main\.scss}line{font-family:\0000311}}
.navbar .nav-profile {
  height: 50px;
  float: right;
  line-height: 50px;
  background-color: #222222;
  margin: 0;
  border-radius: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/testonline_fe\/app\/styles\/main\.scss}line{font-family:\0000312}}
.navbar .nav-profile .dropdown-title {
  display: block;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/testonline_fe\/app\/styles\/main\.scss}line{font-family:\0000325}}
.navbar .nav-profile:hover {
  background-color: #000;
}
