// bower:scss
// endbower

body{
    margin: 0;
    padding: 0;
}

.navbar{
    border-radius: 0px;
    .nav-profile{
        .dropdown-title{
            display: block;
            padding: 0 20px;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
        }
        height: 50px;
        float: right;
        line-height: 50px;
        background-color: #222222;
        margin: 0;
        border-radius: 0px;
        &:hover{
            background-color: #000;
        }
    }
}
