<div class="panel panel-default ability-content" ng-controller="dashboardCtrl">
  <div class="panel-heading">能力全景</div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div id="ability-reading-pie"></div>
        </div>
        <div class="col-md-6">
          <div id="ability-math-pie"></div>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Subject</td>
              <th>Your Score</td>
              <th>Correct</td>
              <th>Incorrect</td>
              <th>%Correct</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Reading</td>
              <td>560</td>
              <td>43</td>
              <td>14</td>
              <td>64%</td>
            </tr>
            <tr>
              <td>Math</td>
              <td>800</td>
              <td>99</td>
              <td>0</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>SUM</td>
              <td>1360</td>
              <td>142</td>
              <td>14</td>
              <td>91%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<div class="panel panel-default self-comparison">
  <div class="panel-heading">自我对比</div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div id="ability-reading-line"></div>
        </div>
        <div class="col-md-6">
          <div id="ability-math-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default self-diagnose">
  <div class="panel-heading">自我诊断</div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>阅读诊断</h2>
          <table class="table table-striped self-diagnose-reading">
            <thead>
              <tr>
                <th style="width: 33%;">考点</td>
                <th style="width: 33%;">正确率</td>
                <th style="width: 33%;">重要程度</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>定义型</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>相似型</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">
                      <span class="sr-only">43%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>对比型</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                      <span class="sr-only">80%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>小说类</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      <span class="sr-only">60%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>非小说类</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span class="sr-only">0%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>主旨题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>细节题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>写作技巧</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>论据题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>观点题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>作者语气</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>词汇题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>人物分析题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>类比题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>模型辨识题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>隐含意义题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>直白表述题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>细节题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h2>数学诊断</h2>
          <table class="table table-striped self-diagnose-math">
            <thead>
              <tr>
                <th style="width: 33%;">考点</td>
                <th style="width: 33%;">正确率</td>
                <th style="width: 33%;">重要程度</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>基础数学</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>乘除法</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">
                      <span class="sr-only">43%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>小数</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>比率、比例</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>集合</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      <span class="sr-only">60%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>序列、级数</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>指数、根</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                      <span class="sr-only">20%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>方程式</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span class="sr-only">0%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>函数</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span class="sr-only">0%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>应用题</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>平均数</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>数据分析</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>概率</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>排列组合</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span class="sr-only">0%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>平面几何</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>坐标几何</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <tr>
                <td>度量</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
