<div class="welcome-module" ng-controller="welcomeCtrl">

  <div class="container-fluid">
    <h1 class="welcome-title">智慧并快乐地备考</h1>
    <p class="welcome-subtitle">
      TEST online为你智能剖析知识薄弱点，帮助你温习巩固，跟你一起寻找你的备考伙伴
    </p>
    <button class="welcome-enter" ui-sref="dashboard">敲门进入</button>
    <div class="row circle-feature-container">
      <div class="col-md-3">
        <div class="circle-feature">
          找题感
        </div>
      </div>
      <div class="col-md-3">
        <div class="circle-feature">
          温故知新
        </div>
      </div>
      <div class="col-md-3">
        <div class="circle-feature">
          生词卡
        </div>
      </div>
      <div class="col-md-3">
        <div class="circle-feature">
          擂台PK
        </div>
      </div>
    </div>
</div>
